body {
 /* background-color: #c5f1f7; */
 background-size: 100%;
 background-repeat: no-repeat;
 font-family:'Merriweather', serif;
 background:#A3ABF2; font-family:Arial;
 text-align:center;

}

#form-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;

}

#added {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  text-align-last: center;
  border-collapse: collapse;
}

label.primary {
  display: block;
  width: 500px;

}

legend { width: 500px;
color: #af2116;
text-decoration: underline;
}
button {
  border-radius: 5%;
  padding: 5px 5px;
  color: #e83d05;
}

.input {
  border: 10px none;
  border-radius: 5%;
  padding: 5px 5px;


}
element.style {
    height: 50px;
    width: 700px;
}

h1 { text-align: center;}
h2 {
    font-family: 'Special Elite', cursive;
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-size: 1.8em;
    color: dark;
    margin-bottom: 20px;

}

div.form-visitor{
  flex-direction: row;

}
div { width: 500px;
}


input {
    margin: .10rem;
    border-radius: 5%;
    padding: 5px 5px;

}

ul#added {
  /* text-align: center; */
  width: 1500px;

}
input#submit{
  font-weight: bold;
  color: #0ea035;
  display: flex;
  flex-direction: column;
  margin-left: 230px;
}
